{% extends "base.html" %}

<title>{% block title %} Tenants  {% endblock title %}</title>
{% block content %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Tenants</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Tenants</li>
        </ol>

        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="row my-4">
            <div class="col-lg-12 col-12">
                <div class="custom-block bg-white">
                    <div class="table-responsive">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addCustomerModal">
                            Add New Tenant
                        </button>
                        <table class="account-table table">
                            <thead>
                                <tr>
                                    <th scope="col">No.</th>

                                    <th scope="col">Name</th>

                                    <th scope="col">Email</th>

                                    <th scope="col">Phone Number</th>

                                    <th scope="col">House Number</th>

                                    <th scope="col">Status</th>

                                    <th scope="col">Action</th>

                                </tr>
                            </thead>

                            <tbody>
                                {% for cust in cus %}
                                <tr>

                                    <td scope="row">{{ index_offset|add:forloop.counter }}</td>

                                    <td scope="row"> {{ cust.firstname }} {{ cust.lastname }} </td>

                                    <td scope="row">{{ cust.email }}</td>

                                    <td scope="row">{{ cust.phone }}</td>

                                    <td scope="row">
                                        {% if cust.assigned_house_id is null%}
                                            None
                                        {% else %}
                                            H({{ cust.assigned_house_id }})
                                        {% endif %}
                                    </td>

                                    <td scope="row">
                                        {% if cust.is_active == 1 %}
                                            <strong style="color: green">Active</strong>
                                        {% elif cust.is_active == 0 %}
                                            <strong style="color: red">Inactive</strong>
                                        {% endif %}
                                    </td>

                                    <td scope="row">
                                        <div class="dropdown">
                                            <button class="btn btn-primary dropdown-toggle align-middle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                                                </svg>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editCustomerModal" onclick="loadCustomerDetails({{ cust.id }})" >Edit Tenant</button></li>
                                                <!-- Add morace tions here -->
                                                {% if cust.is_active == 0 %}
                                                <li>
                                                    <form id="deleteCustomerForm{{ cust.id }}" action="{% url 'delete_customer' cust.id %}" method="post">
                                                        {% csrf_token %}
                                                        <button class="dropdown-item delete-btn" type="button" data-customer-id="{{ cust.id }}" style="color: red;">Delete Tenant</button>
                                                    </form>
                                                </li>                                                
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center mb-0">
                            <li class="page-item">
                                {% if cus.has_previous %}
                                <a class="page-link" href="?page={{ cus.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">Prev</span>
                                </a>
                                {% endif %}
                            </li>

                            <li class="page-item active" aria-current="page">
                                <a class="page-link">{{ cus.number }}</a>
                            </li>
                            
                            <li class="page-item">
                                <a class="page-link">of</a>
                            </li>
                            
                            <li class="page-item">
                                <a class="page-link">{{ cus.paginator.num_pages }}</a>
                            </li>
                            
                            <li class="page-item">
                                {% if cus.has_next %}
                                <a class="page-link" href="?page={{cus.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">Next</span>
                                </a>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- The Edit Customer Modal -->
    <div class="modal fade" id="editCustomerModal" tabindex="-1" role="dialog" aria-labelledby="editCustomerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editCustomerModalLabel">Edit Tenant Details</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form for editing customer -->
                    <form id="editCustomerForm" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" name="firstname" class="form-control" id="firstName" required="required">
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="id" class="form-control" id="id" required="required">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" name="lastname" class="form-control" id="lastName" required="required">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" readonly class="form-control" id="email" required="required">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone Number</label>
                            <input type="tel" class="form-control" name="phone" id="phone" required="required">
                        </div>
                        <div class="form-group">
                            <label for="Active">Active</label>
                            <input type="text" class="form-control" name="active" id="active" readonly> 
                        </div>
                        
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="saveCustomerChanges()">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="addCustomerModal" tabindex="-1" role="dialog" aria-labelledby="addCustomerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCustomerModalLabel">Add New Tenant</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addCustomerForm" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" name="firstname" class="form-control" id="firstName" required="required">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" name="lastname" class="form-control" id="lastName" required="required">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" class="form-control" id="email" required="required">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone Number</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">+254</span>
                                <input type="text" name="phone" class="form-control" placeholder="754666888" minlength="9" maxlength="9" aria-label="Phone Number" aria-describedby="basic-addon1" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Active">Active</label>
                            <select name="active" class="form-control" id="active" required="required">
                                <option value="0">Inactive</option>
                            </select>
                        </div>                          
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" onclick="addCustomer()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function loadCustomerDetails(customerId) {
            $.get('/tenants/' + customerId, function(data) {
                $('#id').val(data.id)
                $('#firstName').val(data.firstname); 
                $('#lastName').val(data.lastname); 
                $('#phone').val(data.phone); 
                $('#email').val(data.email);                 
                $('#active').val(data.active);                 
            }).fail(function() {
                console.error('Error fetching customer details');
            });
        }
        
        function saveCustomerChanges() {
            var formData = $('#editCustomerForm').serialize();  
            $.ajax({
                type: 'POST',
                url: '/tenants/update/',  
                data: formData,
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function(response) {
                    if (response.status === 'success') {
                        alert('Customer updated successfully!');
                        $('#editCustomerModal').modal('hide');  
                        location.reload();
                    } else {
                        alert('Error: ' + response.message);
                    }
                },
                error: function() {
                    alert('An error occurred while updating the customer.');
                }
            });
        }
        function addCustomer() {
            var formData = $('#addCustomerForm').serialize();  
            $.ajax({
                type: 'POST',
                url: '/tenants/add/',  
                data: formData,
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function(response) {
                    if (response.status === 'success') {
                        alert('Customer added successfully!');
                        $('#addCustomerModal').modal('hide');  
                        location.reload();
                    } else {
                        alert('Error: ' + response.message);
                    }
                },
                error: function() {
                    alert('An error occurred while adding the customer.');
                }
            });
        }
        $(document).ready(function() {
            $(".delete-btn").click(function() {
                var customerId = $(this).data("customer-id");
                var form = $("#deleteCustomerForm" + customerId);
    
                var confirmed = confirm("Are you sure you want to delete this tenant? This action cannot be undone.");
    
                if (confirmed) {
                    form.submit(); 
                }
            });
        });
        
    </script>
{% endblock content %}