{% extends "header.html" %}
{% block content %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Houses</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Houses</li>
        </ol>

        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="row my-4">
            <div class="col-lg-12 col-12">
                <div class="custom-block bg-white">
                    <div class="table-responsive">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addHouseModal">
                            Add New House
                        </button>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#assignHouseModal">
                            Assign House
                        </button>
                        <table class="account-table table">
                            <thead>
                                <tr>
                                    <th scope="col">No.</th>

                                    <th scope="col">House Type </th>

                                    <th scope="col">House No.</th>

                                    <th scope="col">Address</th>

                                    <th scope="col">Location</th>

                                    <th scope="col">Rent</th>

                                    <th scope="col">Status</th>

                                    <th scope="col">Action</th>

                                </tr>
                            </thead>

                            <tbody>
                                {% for house in page_house %}
                                <tr>
                                    <td scope="row">{{ index_offset|add:forloop.counter }}</td>

                                    <td scope="row">{{ house.house_type }} </td>

                                    <td scope="row"> H({{ house.id }})</td>

                                    <td scope="row">{{ house.address }}</td>

                                    <td scope="row">{{ house.city }}</td>

                                    <td class="text-success" scope="row">
                                        <span class="me-1"></span>
                                        Ksh {{ house.House_rent }}
                                    </td>

                                    <td scope="row">
                                        {% if house.vacancy == 'VACANT' %}
                                            <span class="badge text-bg-danger">
                                                Vacant
                                            </span>
                                        {% elif house.vacancy == 'MAINTENANCE' %}
                                            <span class="badge text-bg-info">
                                                Maintenance
                                            </span>
                                        {% elif house.vacancy == 'BOOKED' %}
                                            <span class="badge text-bg-dark">
                                                Booked
                                            </span>
                                        {% else %}
                                            <span class="badge text-bg-success">
                                                Occuppied
                                            </span>
                                        {% endif %}
                                    </td>
                                    <td class="text-success" scope="row">
                                        <div class="dropdown">
                                            <button class="btn btn-primary dropdown-toggle align-middle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                                                </svg>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                {% for assignment in assignments %}
                                                    {% if assignment.house == house %}
                                                    <li>
                                                        <form action="{% url 'unassign_house' assignment.id %}" method="post">
                                                            {% csrf_token %}
                                                            <button class="dropdown-item" type="submit">Unassign Tenant</button>
                                                        </form>
                                                    </li>
                                                    {% endif %}
                                                {% endfor %}
                                                <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editHouseModal" onclick="loadHouseDetails({{ house.id }})" >Edit House</button></li>
                                                {% if house.vacancy == 'VACANT' %}
                                                <li>
                                                    <form method="post" action="{% url 'delete_house' house.id %}">
                                                        {% csrf_token %}
                                                        <button type="submit" class="dropdown-item" onclick="alert(Do you want to delete a house?)" style="color: red">Delete</button>
                                                    </form>
                                                </li>
                                                {% endif %}
                                                <!-- Add morace tions here -->
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center mb-0">
                            
                            <li class="page-item">
                                {% if page_house.has_previous %}
                                <a class="page-link" href="?page={{ page_house.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">Prev</span>
                                </a>
                                {% endif %}
                            </li>

                            <li class="page-item active" aria-current="page">
                                <a class="page-link" >{{ page_house.number }}</a>
                            </li>
                            
                            <li class="page-item">
                                <a class="page-link">of</a>
                            </li>
                            
                            <li class="page-item">
                                <a class="page-link">{{ page_house.paginator.num_pages }}</a>
                            </li>
                            
                            <li class="page-item">
                                {% if page_house.has_next %}
                                <a class="page-link" href="?page={{ page_house.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">Next</span>
                                </a>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- The Edit House Modal -->
    <div class="modal fade" id="editHouseModal" tabindex="-1" role="dialog" aria-labelledby="editHouseModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editHouseModalLabel">Edit House Details</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form for editing house -->
                    <form id="editHouseForm" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="houseType">House Type</label>
                            <input type="text" name="houseType" class="form-control" id="houseType" required="required" readonly>
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" name="address" class="form-control" id="address" required="required">
                        </div>
                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" name="city" class="form-control" id="city" required="required">
                        </div>
                        <div class="form-group">
                            <label for="rent">Rent</label>
                            <input type="text" name="rent" class="form-control" id="rent" required="required">
                        </div>
                        <div class="form-group">
                            <label for="status">Status</label>
                            <select name="status" class="form-control" id="status" required="required">
                                <option value="VACANT" {% if page_house.vacancy == 'VACANT' %} selected {% endif %} > Vacant</option>
                                <option value="BOOKED" {% if page_house.vacancy == 'BOOKED' %} selected {% endif %} > Booked</option>
                                <option value="MAINTENANCE" {% if page_house.vacancy == 'MAINTENANCE' %} selected {% endif %} > Maintenance</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="houseNumber">House Number</label>
                            <input type="text" name="id" id="id" class="form-control" required readonly>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="saveHouseChanges()">Save Changes</button>
                </div>
            </div>
        </div>
    </div>


    <!-- The Assign House Modal -->
    <div class="modal fade" id="assignHouseModal" tabindex="-1" role="dialog" aria-labelledby="assignHouseModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="assignHouseModalLabel">Assign House</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form for editing house -->
                    <form id="assignHouseForm" action="{% url 'homes' %}" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="assignHouse()">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="addHouseModal" tabindex="-1" role="dialog" aria-labelledby="addHouseModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCustomerModalLabel">Add New House</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addHouseForm" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="houseType">House Type</label>
                            <select name="houseType" class="form-control" id="houseType" required="required">
                                <option value=""></option>
                                <option value="Bedsitter">Bedsitter</option>
                                <option value="1 Bedroom">1 Bedroom</option>
                                <option value="2 Bedroom">2 Bedroom</option>
                                <option value="3 Bedroom">3 Bedroom</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" name="address" class="form-control" id="address" required="required">
                        </div>
                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" name="city" class="form-control" id="city" required="required">
                        </div>
                        <div class="form-group">
                            <label for="rent">Rent</label>
                            <select name="rent" class="form-control" id="rent" required="required">
                                <option value=""></option>
                                <option value="15000"> Bedsitter - 10000</option>
                                <option value="25000"> One Bedroom - 25000</option>
                                <option value="35000"> Two Bedroom - 35000</option>
                                <option value="50000"> Three Bedroom - 50000</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="status">Status</label>
                            <select name="status" class="form-control" id="status" required="required">
                                <option value=""></option>
                                <option value="VACANT"> Vacant</option>
                                <option value="BOOKED"> Booked</option>
                                <option value="MAINTENANCE"> Maintenance</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" onclick="addHouse()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function loadHouseDetails(house_id) {
            $.get('/homes/' + house_id, function(data) {
                $('#id').val(data.id)
                $('#houseType').val(data.house_type); 
                $('#address').val(data.address); 
                $('#city').val(data.city); 
                $('#rent').val(data.rent); 
                $('#status').val(data.status);                 
            }).fail(function() {
                console.error('Error fetching customer details');
            });
        }
        
        function saveHouseChanges() {
            var formData = $('#editHouseForm').serialize();  
            $.ajax({
                type: 'POST',
                url: '/homes/update/',  
                data: formData,
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function(response) {
                    if (response.status === 'success') {
                        alert('House updated successfully!');
                        $('#editHouseModal').modal('hide');  
                        location.reload();
                    } else {
                        alert('Error: ' + response.message);
                    }
                },
                error: function() {
                    alert('An error occurred while updating House.');
                }
            });
        }

        function addHouse() {
            var formData = $('#addHouseForm').serialize();  
            $.ajax({
                type: 'POST',
                url: '/homes/add/',  
                data: formData,
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function(response) {
                    if (response.status === 'success') {
                        alert('House added successfully!');
                        $('#addHouseModal').modal('hide'); 
                        location.reload();
                    } else {
                        alert('Error: ' + response.message);
                    }
                },
                error: function() {
                    alert('An error occurred while adding a house.');
                }
            });
        }

        function assignHouse() {
            var formData = $('#assignHouseForm').serialize();  
            $.ajax({
                type: 'POST',
                url: '/homes/',  
                data: formData,
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function(response) {
                    if (response.status === 'success') {
                        alert('Tenant assigned to a house successfully!');
                        $('#assignHouseModal').modal('hide');  
                        location.reload();
                    } else {
                        alert('Error: ' + response.message);
                    }
                },
                error: function() {
                    alert('An error occurred while assigning tenant to a house.');
                }
            });
        }
        
    </script>
    

{% endblock content %}