{% extends "header.html" %}
{% block content %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Houses</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Houses</li>
        </ol>

        <div class="row my-4">
            <div class="col-lg-12 col-12">
                <div class="custom-block bg-white">
                    <div class="table-responsive">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addHouseModal">
                            Add New House
                        </button>
                        <table class="account-table table">
                            <thead>
                                <tr>
                                    <th scope="col">House No.</th>

                                    <th scope="col">House Type </th>

                                    <th scope="col">Address</th>

                                    <th scope="col">Location</th>

                                    <th scope="col">Rent</th>

                                    <th scope="col">Status</th>

                                    <th scope="col">Action</th>

                                </tr>
                            </thead>

                            <tbody>
                                {% for house in houses %}
                                <tr>
                                    <td scope="row">{{ house.id }}</td>

                                    <td scope="row">{{ house.house_type }} H({{ house.id }})</td>

                                    <td scope="row">{{ house.address }}</td>

                                    <td scope="row">{{ house.city }}</td>

                                    <td class="text-success" scope="row">
                                        <span class="me-1"></span>
                                        Ksh {{ house.House_rent }}
                                    </td>

                                    <td scope="row">
                                        {% if house.customer_id is Null %}
                                            {% if house.vacancy == 'Vacant' %}
                                                <span class="badge text-bg-danger">
                                                    Vacant
                                                </span>
                                            {% else %}
                                                <span class="badge text-bg-info">
                                                    Maintenance
                                                </span>
                                            {% endif %}
                                        {% else %}
                                            {% if house.vacancy == 'Booked' %}
                                                <span class="badge text-bg-dark">
                                                    Booked
                                                </span>
                                            {% else %}
                                                <span class="badge text-bg-success">
                                                    Occuppied
                                                </span>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td class="text-success" scope="row">
                                        <span class="me-1"></span>
                                        <button class="btn btn-primary" title="edit" data-bs-toggle="modal" data-bs-target="#editHouseModal" onclick="loadHouseDetails({{ house.id }})">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                <path d="M12.732.732a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708L2.975 15.225a.5.5 0 0 1-.364.136H2.5a.5.5 0 0 1-.5-.5v-.111a.5.5 0 0 1 .136-.364L13.439 1.439a.5.5 0 0 1 0-.708l-2-2a.5.5 0 0 1-.073-.638l.073-.083 2-2a.5.5 0 0 1 .638-.073l.083.073 2 2zm-1.414.5L1.975 13.225l-.571 1.43 1.43-.571L13.646 1.646l-1.414-1.414zM1.68 14.057l-.584-2.327 2.327.584-.97.97zm1.262.315l.97-.97 2.327.584-.584-2.327-.97.97a.5.5 0 0 1 .707-.707l.97-.97 2.327.583-.97.971a.5.5 0 0 1-.707-.707l.971-.97-2.327-.584.583 2.327.971-.97a.5.5 0 0 1 .707.707l-.97.971.584 2.327-2.327-.584.97-.97a.5.5 0 0 1-.707.707l-.97.97-2.327-.583.97-.971a.5.5 0 0 1 .707.707l-.971.97zm12.442-7.756-2.25-2.25L10.46 4.792l2.25 2.25.708-.707zm-1.06 1.06-2.25-2.25-.707.707 2.25 2.25.707-.707zm-3.182-3.182-2.25-2.25L7.277 2.61 9.527 4.86l.708-.707zM6.445 3.445l-2.25-2.25-.707.707 2.25 2.25.707-.707z"/>
                                            </svg>
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center mb-0">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">Prev</span>
                                </a>
                            </li>

                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">1</a>
                            </li>
                            
                            <li class="page-item">
                                <a class="page-link" href="#">2</a>
                            </li>
                            
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- The Edit House Modal -->
    <div class="modal fade" id="editHouseModal" tabindex="-1" role="dialog" aria-labelledby="editHouseModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editHouseModalLabel">Edit Tenant Details</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form for editing house -->
                    <form id="editHouseForm" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="houseType">House Type</label>
                            <input type="text" name="houseType" class="form-control" id="houseType" required="required" readonly>
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" name="address" class="form-control" id="address" required="required">
                        </div>
                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" name="city" class="form-control" id="city" required="required">
                        </div>
                        <div class="form-group">
                            <label for="rent">Rent</label>
                            <input type="text" name="rent" class="form-control" id="rent" required="required">
                        </div>
                        <div class="form-group">
                            <label for="tenant">Tenant</label>
                            <select name="tenant" class="form-control"  id="tenant" required="required">
                                <option value=""></option>
                                {% for cust in tenants %}
                                        <option value="{{ cust.id }}" {% if cust.id == houses.customer_id %} selected {% endif %} > {{ cust.firstname }} {{ cust.lastname }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="status">Status</label>
                            <select readonly name="status" class="form-control" id="status" required="required">
                                <option value="Occuppied" {% if houses.vacancy == 'Occuppied' %} selected {% endif %} > Occuppied </option>
                                <option value="Vacant" {% if houses.vacancy == 'Vacant' %} selected {% endif %} > Vacant</option>
                                <option value="Booked" {% if houses.vacancy == 'Booked' %} selected {% endif %} > Booked</option>
                                <option value="Maintenance" {% if houses.vacancy == 'Maintenance' %} selected {% endif %} > Maintenance</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="houseNumber">House Number</label>
                            <input type="text" name="id" id="id" class="form-control" required readonly>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="saveHouseChanges()">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="addHouseModal" tabindex="-1" role="dialog" aria-labelledby="addHouseModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCustomerModalLabel">Add New House</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addHouseForm" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="houseType">House Type</label>
                            <select name="houseType" class="form-control" id="houseType" required="required">
                                <option value=""></option>
                                <option value="Bedsitter">Bedsitter</option>
                                <option value="1 Bedroom">1 Bedroom</option>
                                <option value="2 Bedroom">2 Bedroom</option>
                                <option value="3 Bedroom">3 Bedroom</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" name="address" class="form-control" id="address" required="required">
                        </div>
                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" name="city" class="form-control" id="city" required="required">
                        </div>
                        <div class="form-group">
                            <label for="rent">Rent</label>
                            <select name="rent" class="form-control" id="rent" required="required">
                                <option value=""></option>
                                <option value="15000"> Bedsitter - 10000</option>
                                <option value="25000"> One Bedroom - 25000</option>
                                <option value="35000"> Two Bedroom - 35000</option>
                                <option value="50000"> Three Bedroom - 50000</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="tenant">Tenant</label>
                            <select name="tenants" class="form-control" id="tenants" required="required">
                                <option value=""></option>
                                {% for x in tenants %}
                                    <option value="{{x.id}}"> {{x.firstname }} {{x.lastname}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="status">Status</label>
                            <select name="status" class="form-control" id="status" required="required">
                                <option value=""></option>
                                <option value="Vacant"> Vacant</option>
                                <option value="Occuppied"> Occuppied</option>
                                <option value="Booked"> Booked</option>
                                <option value="Maintenance"> Maintenance</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" onclick="addHouse()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function loadHouseDetails(house_id) {
            $.get('/homes/' + house_id, function(data) {
                $('#id').val(data.id)
                $('#houseType').val(data.house_type); 
                $('#address').val(data.address); 
                $('#city').val(data.city); 
                $('#rent').val(data.rent); 
                $('#status').val(data.status); 
                $('#tenant').val(data.tenant); 
                
            }).fail(function() {
                console.error('Error fetching customer details');
            });
        }
        
        function saveHouseChanges() {
            var formData = $('#editHouseForm').serialize();  
            $.ajax({
                type: 'POST',
                url: '/homes/update/',  
                data: formData,
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function(response) {
                    if (response.status === 'success') {
                        alert('House updated successfully!');
                        $('#editHouseModal').modal('hide');  
                    } else {
                        alert('Error: ' + response.message);
                    }
                },
                error: function() {
                    alert('An error occurred while updating House.');
                }
            });
        }

        function addHouse() {
            var formData = $('#addHouseForm').serialize();  
            $.ajax({
                type: 'POST',
                url: '/homes/add/',  
                data: formData,
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function(response) {
                    if (response.status === 'success') {
                        alert('House added successfully!');
                        $('#addHouseModal').modal('hide');  
                    } else {
                        alert('Error: ' + response.message);
                    }
                },
                error: function() {
                    alert('An error occurred while adding a house.');
                }
            });
        }
        
    </script>
    

{% endblock content %}