{% extends "header.html" %} 
{% load static %}
<style>
    .card-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .table-widget {
        border-radius: 1rem;
        background: var(--table-background);
        padding: 1.5rem;
        border: 2px solid var(--gray-background);
        box-shadow: 
            rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
            rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        text-align: left;
        overflow-x: auto;
    }
    
    .table-widget table {
        border-collapse: collapse;
        min-height: 30rem;
        max-width: 60rem;
        width: 100%;
    }
    
    .table-widget caption {
        font-size: 1.12rem;
        font-weight: 700;
        text-align: left;
        margin: 0.5rem 0;
    }
    
    .table-widget th {
        padding: 1.25rem 1rem;
        font-size: 0.875rem;
        color: var(--gray);
    }
    
    .table-widget thead {
        border-top: 2px solid var(--gray-background);
    }
    
    .table-widget tfoot {
        margin-top: 1rem;
        border-top: 2px solid var(--gray-background);
    }
    
    .table-widget td {
        padding: 0.5rem 1rem;
    }
    
    .table-widget tbody tr {
        cursor: pointer;
        animation: fadeIn 0.5s ease-in-out;
    }
    
    .table-widget tbody tr:nth-child(odd) {
        background-color: var(--odd-row);
    }
    
    .table-widget tbody tr:hover {
        background-color: #e2ecff;
    }
    
    .table-row-count {
        font-size: 0.8rem;
        font-weight: 700;
        background-color: var(--odd-row);
        padding: 0.5rem;
        display: inline-flex;
        align-items: center;
        margin-left: 1rem;
        border-radius: 0.5rem;
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    .team-member-profile {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    
    .profile-info {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }
    
    .profile-info__name {
        font-weight: 700;
        white-space: nowrap;
    }
    
    .team-member-profile img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        object-fit: cover;
    }
    
    .status {
        border-radius: 0.5rem;
        padding: 0.5rem;
        font-weight: 700;
    }
    
    .status--completed {
        background-color: #EAFEF3;
        color: #2ECC71;
        border: 1px solid #2ECC71;
    }
    
    .status--pending {
        background-color: #fff6e5;
        color: #F4BD50;
        border: 1px solid #F4BD50;
    }
    
    .status--error {
        color: #DF8FA8;
        background-color: #fef1f5;
        border: 1px solid #DF8FA8;
    }
    
    .tags {
        display: flex;
        gap: 0.5rem;
    }
    
    .tag {
        padding: 0.5rem;
        background-color: var(--gray-mid);
        border-radius: 0.5rem;
        font-weight: 700;
    }
    
    .tag::first-letter {
        text-transform: uppercase;
    }
    
    .table-widget {
        min-height: 5rem;
    }
    
    .pagination {
        list-style-type: none;
        display: flex;
        gap: 1rem;
        padding: 0;
    }
    
    .pagination a {
        display: block;
        color: var(--primary);
        font-size: 1.3rem;
        text-decoration: none;
        font-weight: 700;
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;
    }
    
    .pagination a:hover, a.active{
        background-color: var(--odd-row);
        text-decoration: underline;
    }
</style>

{% block content %}        
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div>Total Houses</div>
                        <strong><span>{{ total_houses }}</span></strong>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="{% url 'tenants' %}">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div>Vacant Houses</div>
                        <strong><span>{{ vacant }}</span></strong>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="{% url 'homes' %}">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div>Active Tenants</div>
                        <strong><span>{{ active_tenants }}</span></strong>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <div>Inactive Tenants</div>
                        <strong><span>{{ inactive_tenants }}</span></strong>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <!-- Row -->
            <div class="row"> 
                <div class="col-lg-7">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Notice Board <i class="mdi mdi-bell"></i>
                                <sup style="color:red">2</sup>
                            </h4>
                        </div>
                        <div class="card-body" style="overflow: visible;">
                            <div class="table-responsive slimScrollDiv" style="height: 300px;">
                                <table class="table table-hover table-bordered earning-box ">
                                    <thead>
                                        <tr>
                                            <th scope="col">No.</th>
                                            <th scope="col">Sender</th>
                                            <th scope="col">Message</th>
                                            <th scope="col">Time</th>
                                            <th scope="col">Action </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for message in messages %}
                                        <tr>
                                            <td scope="row">{{ forloop.counter }}</td>
                                            <td scope="row">{{ message.firstname }} {{ message.lastname }}</td>
                                            <td scope="row">{{ message.content }}</a></td>
                                            <td scope="row">{{ message.timestamp }}</td>
                                            <td class="action-row"><a href="" class="icon icon-md"></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    
                    <link href="{% static 'css/style2.css' %}" rel="stylesheet" />  
                    <div class="table-widget"><table>
                        <caption>
                            Transactions
                            <span class="table-row-count">(10)</span>
                        </caption> 
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Processed</th>
                            </tr>
                        </thead>
                        <tbody id="table-rows">
                            <tr>
                                    <td class="team-member-profile">
                                        <img alt="James Alexander" src="assets/profile.jpg">
                                        <span class="profile-info">
                                            <span class="profile-info__name">
                                                James Alexander
                                            </span>
                                            <span class="profile-info__alias">
                                                james@example.com
                                            </span>
                                        </span>
                                    </td>
                                    <td>
                                        $1,000
                                    </td>
                                    <td>
                                        <span class="status status--completed">
                                            completed
                                        </span>
                                    </td>
                                    <td>
                                        Fri, Oct 20, 2023, 7:12 PM
                                    </td>
                                </tr><tr>
                                    <td class="team-member-profile">
                                        <img alt="Lilia Taylor" src="assets/liliya.jpg">
                                        <span class="profile-info">
                                            <span class="profile-info__name">
                                                Lilia Taylor
                                            </span>
                                            <span class="profile-info__alias">
                                                lilia.taylor@example.com
                                            </span>
                                        </span>
                                    </td>
                                    <td>
                                        $1,115
                                    </td>
                                    <td>
                                        <span class="status status--error">
                                            error
                                        </span>
                                    </td>
                                    <td>
                                        Sun, Oct 22, 2023, 4:12 PM
                                    </td>
                                </tr><tr>
                                    <td class="team-member-profile">
                                        <img alt="Drew Cano" src="assets/drew.jpg">
                                        <span class="profile-info">
                                            <span class="profile-info__name">
                                                Drew Cano
                                            </span>
                                            <span class="profile-info__alias">
                                                drew.crano@example.com
                                            </span>
                                        </span>
                                    </td>
                                    <td>
                                        $8,220
                                    </td>
                                    <td>
                                        <span class="status status--completed">
                                            completed
                                        </span>
                                    </td>
                                    <td>
                                        Sun, Oct 22, 2023, 9:12 PM
                                    </td>
                                </tr><tr>
                                    <td class="team-member-profile">
                                        <img alt="Nate Conor" src="assets/nate.jpg">
                                        <span class="profile-info">
                                            <span class="profile-info__name">
                                                Nate Conor
                                            </span>
                                            <span class="profile-info__alias">
                                                nate@example.com
                                            </span>
                                        </span>
                                    </td>
                                    <td>
                                        $1,750
                                    </td>
                                    <td>
                                        <span class="status status--error">
                                            error
                                        </span>
                                    </td>
                                    <td>
                                        Mon, Oct 23, 2023, 1:05 AM
                                    </td>
                                </tr><tr>
                                    <td class="team-member-profile">
                                        <img alt="Melissa Brantley" src="assets/melissa.jpg">
                                        <span class="profile-info">
                                            <span class="profile-info__name">
                                                Melissa Brantley
                                            </span>
                                            <span class="profile-info__alias">
                                                melissa@example.com
                                            </span>
                                        </span>
                                    </td>
                                    <td>
                                        $220
                                    </td>
                                    <td>
                                        <span class="status status--pending">
                                            pending
                                        </span>
                                    </td>
                                    <td>
                                        Tue, Oct 24, 2023, 10:05 PM
                                    </td>
                                </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <ul class="pagination">
                                        
                                        <li>
                                <a title="page 1" class="active" href="?page=1">
                                    1
                                </a>
                            </li><li>
                                <a title="page 2" href="?page=2">
                                    2
                                </a>
                            </li>
                                    </ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}