{% extends "base.html" %}
{% block content %}
{% load static %}
<style>
    .form-control{
        font-size: 12px;
        font-weight: 400;
        width: 230px;
        height: 30px;
        border: none;
    }
    form-control: focus{
        box-shadow: none;
        overflow: hidden;
        border: none;
    }
    .form-control:focus{
        box-shadow: none !important;
    }
</style>
{% for message in messages_with_names %}
<div class="modal fade" id="messageModal{{ message.id }}" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel{{ message.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModalLabel{{ message.id }}">{{ message.firstname }} {{ message.lastname }}</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body chat-modal-body">
                <div class="">
                    <div class="px-2 scroll" id="chatMessages{{ message.id }}">
                        {% for chat_message in messages_with_names %}
                            {% if chat_message.sender != 'admin' and chat_message.tenant == message.tenant %}
                                <div class="d-flex align-items-center">
                                    <div class="text-left pr-1"><img src="https://img.icons8.com/color/40/000000/guest-female.png" width="30" class="img1" /></div>
                                    <div class="pr-2 pl-1">
                                        <span class="name">{{ chat_message.firstname }} {{ chat_message.lastname }}</span>
                                        <p class="msg">{{ chat_message.content }} </br> <sub>{{ chat_message.timestamp }}</sub></p>
                                    </div>
                                </div>
                            {% elif chat_message.sender == 'admin' and chat_message.tenant_id == message.tenant %}
                                <div class="d-flex align-items-center text-right justify-content-end ">
                                    <div class="pr-2">
                                        <span class="name">Admin</span>
                                        <p class="msg">{{ chat_message.content }} </br> <sub>{{ chat_message.timestamp }}</sub></p>
                                    </div>
                                    <div>
                                        <img src="{% static "../static/profile_images/pp.png" %}" width="30" class="img1" />
                                    </div>                    
                                </div>
                            {% endif %}
                        {% endfor %}   
                        <div id="replyContainer{{ message.id }}"></div>                                     
                    </div>  
                </div>
            </div>
            <div class="modal-footer">
                <nav class="navbar bg-white navbar-expand-sm d-flex justify-content-between">
                    <input type="text" name="reply_text" id="replyText{{ message.id }}" class="form-control" placeholder="Type a message...">
                    <input type="hidden" id="csrfToken" value="{{ csrf_token }}">                   
                    <div class="icondiv d-flex justify-content-end">
                        <i class="fa fa-arrow-circle-right icon2" onclick="sendReply({{ message.id }})"></i>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<div class="container-fluid px-4">
    <h1 class="mt-4">Messages</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">WhatsApp Messages</li>
    </ol>
    <div class="container-fluid">
        <!-- Row -->
        <div class="row"> 
            <div class="col-lg-12 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">User Messages </h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered earning-box">
                                <thead>
                                    <tr>
                                        <th scope="col">No.</th>
                                        <th scope="col">Sender</th>
                                        <th scope="col">Message</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for message in table_messages %}
                                    <tr style="{% if message.read == False %} font-weight: bold; background-color: #e8f4ea; {% endif %}">
                                        <td scope="row">{{ index_offset|add:forloop.counter }}</td>
                                        <td scope="row">{{ message.firstname }} {{ message.lastname }}</td>
                                        <td scope="row">
                                            {% if message.content|length > 50 %}
                                            {{ message.content|slice:":50" }}...
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#messageModal{{ message.id }}">Read More</a>
                                            {% else %}
                                            {{ message.content }}
                                            {% endif %}
                                        </td>
                                        <td scope="row">{{ message.timestamp }}</td>
                                        <td class="action-row">
                                            <div class="dropdown">
                                                <a  href="#" role="button" id="dropdownMenuLink{{ message.id }}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="text-muted" style="color: green">&#8942;</span> <!-- The three vertical dots -->
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink{{ message.id }}">
                                                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#messageModal{{ message.id }}">Reply</a>
                                                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal{{ message.id }}">Delete</a>
                                                    <a class="dropdown-item" href="#">Other</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- Pagination Controls -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center mb-0">
                                <li class="page-item">
                                    {% if table_messages.has_previous %}
                                    <a class="page-link" href="?page={{ table_messages.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">Prev</span>
                                    </a>
                                    {% endif %}
                                </li>
    
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link">{{ table_messages.number }}</a>
                                </li>
                                
                                <li class="page-item">
                                    <a class="page-link">of</a>
                                </li>
                                
                                <li class="page-item">
                                    <a class="page-link">{{ table_messages.paginator.num_pages }}</a>
                                </li>
                                
                                <li class="page-item">
                                    {% if table_messages.has_next %}
                                    <a class="page-link" href="?page={{table_messages.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">Next</span>
                                    </a>
                                    {% endif %}
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function sendReply(messageId) {
        var replyText = document.getElementById('replyText' + messageId).value;
        var csrfToken = document.getElementById('csrfToken').value; // Get the CSRF token
        if (replyText.trim() === "") {
            alert("Please type a reply.");
            return;
        }
        $.ajax({
            url: '/dashboard/', // Ensure this is the correct endpoint for sending replies
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': csrfToken,
                'message_id': messageId,
                'reply_text': replyText,
            },
            success: function(response) {
                var newReply = '<div class="d-flex align-items-center text-right justify-content-end ">' +
                               '<div class="pr-2">' +
                               '<span class="name">Admin</span>' +
                               '<p class="msg">' + response.reply_text + '</p>' +
                               '</div>' +
                               '<div><img src="{% static "../static/profile_images/pp.png" %}" width="30" class="img1" /></div>' +
                               '</div>';
                document.getElementById('replyContainer' + messageId).innerHTML += newReply;
                document.getElementById('replyText' + messageId).value = ''; // Clear the input field
                
                // Trigger 'messagesUpdated' event for scrolling to bottomn
                $('#messageModal' + messageId).trigger('messagesUpdated'); // Trigger update for the specific modal
            },
            error: function(error) {
                console.error("Error sending reply:", error);
                alert("Error sending reply. Please try again.");
            }
        });
    }
    
    function scrollToBottom(tenantId) {
        var chatMessages = document.getElementById('chatMessages' + tenantId);
        chatMessages.scrollTop = chatMessages.scrollHeight;
    }
    
    $(document).ready(function(){
        // You need to bind the modal shown event for each tenant
        {% for message in messages_with_names %}
        $('#messageModal{{ message.id }}').on('shown.bs.modal', function () {
            scrollToBottom({{ message.id }}); // Scroll to bottom when modal is shown
        });
    
        // Bind a custom event for updating messages for each tenant
        $('#messageModal{{ message.id }}').on('messagesUpdated', function () {
            scrollToBottom({{ message.id }});
        });
        {% endfor %}
    });
</script>
{% endblock content %}